.wrapper-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.932);
}

.work-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px 250px;
  grid-gap: 10px;
}

.work-holder:nth-child(1) {
  grid-column: span 2;
}

.work-holder:nth-child(2) {
  grid-column: span 3;
}
.work-holder:nth-child(3) {
  grid-column: span 1;
}
.work-holder:nth-child(4) {
  grid-column: span 1;
}
.work-holder:nth-child(5) {
  grid-column: span 1;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.gallery-item:hover .image img {
  transform: scale(1.5);
}

.gallery-item .text {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
  pointer-events: none;
  z-index: 3;
  transition: 0.3 ease-in-out;
  backdrop-filter: blur(5px);
}

.gallery-item:hover .text {
  opacity: 1;
  animation: move-down 0.3s linear;
  padding: 1em;
  width: 100%;
}

@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }
}
