:root {
  --dark-clr: #000000;
  --dark-blue: #00218a;
  --blue-clr: #868eeb;
  --light-purple: #9c64ce;
  --light-blue: #bdbdfd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url("./Assets/1234.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}
